[Unit]
Description=Boss container proxy for %i
Wants=network-online.target containerd.service
After=network-online.target containerd.service network.target

[Service]
ExecStartPre=/usr/local/bin/boss-systemd exec-start-pre %i
ExecStart=/usr/local/bin/boss-systemd exec-start %i
ExecStopPost=/usr/local/bin/boss-systemd exec-stop-post %i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
